html {
    scroll-behavior: smooth;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    top:0;
    left: 0;
    margin: 0;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    position: initial  !important;
}
.title-application{
    font-size: 3.2em;
    color: #f26551;
    font-weight: 700;
    margin: -2px 0px 0px 11px;
}
.jumbotron{
    background-color:#fbefef !important;
    border-radius: 10px; 
}
